main {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-image: url("../images/bgcaf.jpg");
  background-size: cover;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  padding: 20px 20px 50px;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(221, 255, 209, 0.8);
  font-size: 1.2em;
  width: 100%;
  max-width: 800px;
  padding: 30px;
  margin: 0 0 30px;
  border-radius: 5px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 15px;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.card {
  aspect-ratio: 3/4;
  width: 100%;
  border-radius: 5px;
  position: relative;
  transition: all 400ms ease;
  transform-style: preserve-3d;
  background-color: #ccc;
}

.face {
  width: 100%;
  height: 100%;
  position: absolute;
  background-size: cover;
  background-position: center;
  border: 5px solid #ffecac;
  border-radius: 5px;
  transition: all 400ms ease;
}

.front {
  transform: rotateY(180deg);
}

.back {
  background-image: url("../images/backcaf.png");
  backface-visibility: hidden;
}

.reveal-card {
  transform: rotateY(180deg);
}

.disabled-card {
  filter: saturate(0);
  opacity: 0.5;
}

@media screen and (max-width: 920px) {
  .grid {
    grid-template-columns: repeat(5, 1fr);
  }
}

.saiba-mais {
  position: absolute;
  top: 90%;
  right: 5%;
  padding: 10px;
  border-radius: 5px;
  outline: none;
  border: 0;
  cursor: pointer;
  transition: all ease-in-out 0.2s;
}

.saiba-mais:hover {
  background-color: #ccc;
}

.modal {
  padding: 25px;
  border-radius: 12px;
  background-color: rgba(255, 255, 255, 0.945);
  top: 5%;
  left: 5%;
  position: absolute;
  overflow-y: visible;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  align-self: center;
  justify-self: center;
  line-height: 1.5;
}
.modal img {
  width: 100%;
  max-width: 550px;
  border-radius: 12px;
}
.modal h1 {
  margin: 15px;
}
.modal button {
  position: absolute;
  top: 5%;
  right: 5%;
  cursor: pointer;
  font-size: 15px;
  padding: 12px;
  background: none;
}
